html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    text-align: center;
    padding: 10%;
}

.btn_stop {
    text-align: center;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline;
    display: block;
}


textarea {
    margin-top: 80px;
}